<img alt="astronaut" align="left" src="/images/astronaut2.png"/>
<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
    </ul>
</nav>